*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: #222;
    background-color: #fff;
    line-height: 1.6;
}

a{
    text-transform: none;
    color: inherit;
}

h1, h2{
    margin-bottom: 20px;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #111;
    color: #ffff;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a:hover{
    color: #bb0094;
}

.menu-toggle{
    display: none;
    font-size: 80px;
    cursor: pointer;
}

/* HERO SECTION */
.hero{
    padding: 100px 50px;
    background-color: #f5f6fa;
}

.hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.hero-text{
    flex: 1 1 45%;
}

.hero-image img{
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
}

.highlight{
    color: #006e94;
}

.btn{
    background-color: #006e94;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}

.btn:hover{
    background-color: #bb0094;
}

/* ABOUT SECTION */
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 100px 50px;
}

.about-image img{
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
}

.about-text{
    flex: 1 1 45%;
}

/* SKILL */
.skills{
    padding: 80px 20px;
    text-align: center;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills-card{
    background-color: #006e94;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
}

/* PROJECTS */
.projects{
    padding: 80px 20px;
    text-align: center;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 20px;
}

.project-card{
    background-color: #f1f2f6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}

.project-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.project-card h3{
    margin: 10px 0;
}

/* CONTACT FORM */
.contact{
    padding: 80px 20px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}

input, textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* FOOTER */
footer{
    text-align: center;
    padding: 30px;
    background-color: #111;
    color: #fff;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px){
    .nav-links{
        display: none;
        flex-direction: column;
        background-color: #111;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 20px;
    }

    .menu-toggle{
        display: block;
    }

    .nav-links.active{
        display: flex;
    }

    .hero-content, .about-content{
        flex-direction: column;
        text-align: center;
    }
}